@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
    input[type="number"] {
        appearance: textfield;
    }
}

@layer base {
    html {
        @apply bg-gray-50;
    }

    .embla {
        overflow: hidden;
    }
    .embla__container {
        display: flex;
    }

    .embla__slide:has(> div > button[selected="false"]) {
        background: #f9fafb;
    }
}
